{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "About" %}{% endblock title %}

{% block content %}

  <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
      <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue">
          <h1 class="text-2xl font-bold mb-4">{% translate "About" %}</h1>
          <p class="mb-2">{% translate "homepage.description"|safe|linebreaks %}</p>
      </article>
  </div>

{% endblock content %}
