<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200">
<nav class="bg-gray-900">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 relative flex items-center justify-between h-16">
    <!-- Logo -->
    <div class="flex-shrink-0 flex items-center">
      <a href="/" class="font-bold text-white text-xl">ytvd</a>
    </div>
    <!-- Categories and Channels links -->
    <div class="hidden sm:block sm:ml-6">
      <div class="flex space-x-4">
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md font-medium">Categories</a>
        <a href="{% url 'channel_list' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md font-medium">Channels</a>
      </div>
    </div>
    <!-- Search bar -->
    <div class="flex-1 flex justify-center px-2 lg:ml-6 lg:justify-end">
        <a href="{% url 'homepage' %}" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 mx-4 rounded-lg">Import video</a>
      <form class="flex" action="{% url 'search' %}" method="get">
        <input class="w-full rounded-l-lg py-2 px-4 border-gray-300 text-gray-800 placeholder-gray-400 focus:outline-none focus:ring focus:border-blue-300" name="q" type="text" placeholder="Search">
        <button type="submit" class="px-4 bg-blue-600 text-white rounded-r-lg hover:bg-blue-500">➜</button>
      </form>
    </div>
  </div>
</nav>
<div class="container mx-auto px-4 py-8">
  {% block content %}
  {% endblock %}
</div>
<footer class="bg-gray-900 text-gray-400">
  <div class="container mx-auto px-4 py-4 flex flex-col sm:flex-row justify-between items-center">
    <p>&copy; {{ date|date:"Y" }} ytvd</p>
    <p class="mt-2 sm:mt-0">Made with <a href="https://www.djangoproject.com/" class="text-blue-500 hover:text-blue-400">Django</a> and <a href="https://tailwindcss.com/" class="text-blue-500 hover:text-blue-400">Tailwind CSS</a></p>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tippy.js@6.3.2/dist/tippy-bundle.umd.min.js"></script>
</body>
</html>
