<body>
    <div>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200">
  <nav class="bg-white py-4">
    <div class="container mx-auto flex justify-between items-center px-4">
      <a href="/" class="text-2xl font-bold">ytvd</a>
      <ul class="flex">
          <li class="mx-2">
            <a href="{% url 'homepage' %}" class="text-gray-700 hover:text-blue-500">Home</a>
          </li>
        {% if user.is_authenticated %}
        {% else %}
          <li class="mx-2">
            <a href="/api-auth/login/?next=/html" class="text-gray-700 hover:text-blue-500">Log In</a>
          </li>
          <li class="mx-2">
            <a href="{% url 'signup' %}" class="text-gray-700 hover:text-blue-500">Sign Up</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container mx-auto px-4 py-8">
    {% block content %}
    {% endblock %}
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/tippy.js@6.3.2/dist/tippy-bundle.umd.min.js"></script>
</body>
</html>
