{% extends "base.html" %}

{% block title %}{{ channel.last_snapshot.name_en }} - ytvd{% endblock %}

{% block content %}
  <div class="mb-4">
    <h1 class="text-3xl font-bold">{{ channel.last_snapshot.name_en }}</h1>
    <p class="text-gray-600">{{ channel.last_snapshot.description | safe | linebreaks }}</p>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    {% for video in videos %}
      <div class="bg-white rounded shadow-sm p-4">
        <a href="{% url 'video_details' pk=video.id %}" class="block mb-2">
          <img src="{{ video.last_snapshot.thumbnail_url }}" alt="{{ video.last_snapshot.title_en }}" class="w-full">
        </a>
        <a href="{% url 'video_details' pk=video.id %}" class="block text-lg font-bold text-gray-900">{{ video.last_snapshot.title_en }}</a>
        <p class="text-gray-600">{{ channel.last_snapshot.name_en }}</p>
      </div>
    {% endfor %}
  </div>

  <div class="my-4">
    <nav class="flex items-center justify-between">
      {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}" class="bg-gray-200 hover:bg-gray-300 py-2 px-4 rounded-l">
          Previous
        </a>
      {% endif %}
      <div class="text-gray-600">
        Page {{ page.number }} of {{ page.paginator.num_pages }}
      </div>
      {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}" class="bg-gray-200 hover:bg-gray-300 py-2 px-4 rounded-r">
          Next
        </a>
      {% endif %}
    </nav>
  </div>
{% endblock %}
