{% extends "base.html" %}
{% load i18n %}
{% load ratings_extras %}
{% block title %}
    {% translate "Charts" %} - TubeRank
{% endblock title %}
{% block content %}
    <form class="my-4">
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
                <label for="sort-by"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    {% translate "Sort by:" %}
                </label>
                <select name="sort_by"
                        id="sort-by"
                        class="bg-gray-50 border border-gray-400 rounded-lg py-2 px-4 leading-tight focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option value="best_rated"
                            {% if request.GET.sort_by == "best_rated" %}selected{% endif %}>
                        {% translate "Best rated" %}
                    </option>
                    <option value="most_rated"
                            {% if request.GET.sort_by == "most_rated" %}selected{% endif %}>
                        {% translate "Most rated" %}
                    </option>
                    <option value="most_viewed"
                            {% if request.GET.sort_by == "most_viewed" %}selected{% endif %}>
                        {% translate "Most viewed" %}
                    </option>
                    <option value="least_viewed"
                            {% if request.GET.sort_by == "least_viewed" %}selected{% endif %}>
                        {% translate "Least viewed" %}
                    </option>
                    <option value="newest"
                            {% if request.GET.sort_by == "newest" %}selected{% endif %}>
                        {% translate "Newest" %}
                    </option>
                    <option value="oldest"
                            {% if request.GET.sort_by == "oldest" %}selected{% endif %}>
                        {% translate "Oldest" %}
                    </option>
                </select>
            </div>
            <div>
                <label for="tag-filter"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    {% translate "Filter by tag:" %}
                </label>
                <select name="tag"
                        id="tag-filter"
                        class="bg-gray-50 border border-gray-400 rounded-lg py-2 px-4 leading-tight focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option selected value>{% translate " -- Select an option -- " %}</option>
                    {% for tag in tags %}
                        <option value="{{ tag.name }}"
                                {% if request.GET.tag == tag.name %}selected{% endif %}>{{ tag.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit"
                class="bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-2">
            {% translate "Submit" %}
        </button>
    </form>
    {% include "charts_partial.html" with videos=videos %}
{% endblock content %}
