{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ channel.last_snapshot.name_en }} - ytvd{% endblock %}

{% block content %}
  <div class="mb-4">
    <h1 class="text-3xl font-bold">{{ channel.last_snapshot.name_en }}</h1>
    <p class="text-gray-600">{{ channel.last_snapshot.description | safe | linebreaks }}</p>
  </div>

  <form class="my-4" method="GET">
    <div class="flex flex-wrap items-center justify-between mb-2">
      <label class="block text-gray-700 font-bold mb-2 mr-2" for="sort-by">{% translate "Sort by:" %}</label>
      <select name="sort_by" id="sort-by" class="bg-white border border-gray-400 rounded-lg py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
        <option value="rating" {% if request.GET.sort_by == "rating" %}selected{% endif %}>{% translate "Best rated" %}</option>
        <option value="ratings_count" {% if request.GET.sort_by == "ratings_count" %}selected{% endif %}>{% translate "Most rated" %}</option>
        <option value="newest" {% if request.GET.sort_by == "newest" %}selected{% endif %}>{% translate "Newest" %}</option>
        <option value="oldest" {% if request.GET.sort_by == "oldest" %}selected{% endif %}>{% translate "Oldest" %}</option>
        <option value="views_count" {% if request.GET.sort_by == "views_count" %}selected{% endif %}>{% translate "Most viewed" %}</option>
      </select>
      <label class="block text-gray-700 font-bold mb-2 mr-2" for="sort-by">{% translate "Filter by tag:" %}</label>
      <select name="tag" id="tag-filter" class="bg-white border border-gray-400 rounded-lg py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
          <option disabled selected value>{% translate " -- Select an option -- " %}</option>
        {% for tag in tags %}
          <option value="{{ tag.name }}" {% if request.GET.tag == tag.name %}selected{% endif %}>{{ tag.name }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-2">
        Filter
      </button>
    </div>
</form>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    {% for video in videos %}
    {% include "videos/video_item.html" %}
    {% endfor %}
  </div>

  <div class="my-4">
    <nav class="flex items-center justify-between">
      {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}" class="bg-gray-200 hover:bg-gray-300 py-2 px-4 rounded-l">
          {% translate "Previous" %}
        </a>
      {% endif %}
      <div class="text-gray-600">
        Page {{ page.number }} of {{ page.paginator.num_pages }}
      </div>
      {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}" class="bg-gray-200 hover:bg-gray-300 py-2 px-4 rounded-r">
          {% translate "Next" %}
        </a>
      {% endif %}
    </nav>
  </div>
{% endblock %}
