{% extends "base.html" %}
{% block title %}Rate {{ video.last_snapshot.title_en }} - {{ video.channel.last_snapshot.name_en }}{% endblock %}
{% block content %}

    <h1 class="text-4xl font-bold mb-8">{{ video.last_snapshot.title_en }}</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div>
            <img src="{{ video.last_snapshot.thumbnail_url }}" alt="{{ video.last_snapshot.title_en }}" class="h-60 w-full object-cover mb-4">
            <table class="table-auto">
                <tbody>
                    <tr>
                        <td class="font-bold text-gray-900 pr-4">Channel:</td>
                        <td class="text-gray-700">{{ video.channel.last_snapshot.name_en }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<form action="{% url 'video_rating' pk=video.pk %}" method="post">
    {% csrf_token %}
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="review_title">
            Title
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="review_title" type="text" name="review_title" value="{{ serializer.data.review_title }}"  placeholder="Enter the title of your rating" required>
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="rating">
            Rating (0-10)
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="rating" type="number" name="rating" value="{{ serializer.data.rating }}" min="0" max="10" placeholder="Enter your rating" required>
    </div>

    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="review_body">
            Review
        </label>
        <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="review_body" name="review_body" rows="5" placeholder="Enter your review">{{ serializer.data.review_body }}</textarea>
    </div>

    <div class="flex justify-start">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Submit
        </button>
    </div>
</form>
{% endblock %}
