{% extends "base.html" %}
{% load humanize %}

{% block title %} {{ video.last_snapshot.title_en }} - {{ video.channel.last_snapshot.name_en }} {% endblock %}
{% block content %}

<div class="flex flex-col items-center">
    <div class="flex items-center w-full mb-8">
        <a href="{% url 'channel_details' pk=video.channel.id %}" class="mr-4 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
            &#8592; Return to Channel
        </a>
    </div>    <h1 class="text-4xl font-bold mb-8">{{ video.last_snapshot.title_en }}</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div>
            <img src="{{ video.last_snapshot.thumbnail_url }}" alt="{{ video.last_snapshot.title_en }}" class="h-48 w-full object-cover mb-4">
            <table class="table-auto">
                <tbody>
                    <tr>
                        <td class="font-bold text-gray-900 pr-4">Channel:</td>
                        <td class="text-gray-700">{{ video.channel.last_snapshot.name_en }}</td>
                    </tr>
                    <tr>
                        <td class="font-bold text-gray-900 pr-4">Views:</td>
                        <td class="text-gray-700">{{ video.last_snapshot.count_views|intcomma }}</td>
                    </tr>
                    <tr>
                        <td class="font-bold text-gray-900 pr-4">Likes:</td>
                        <td class="text-gray-700">{{ video.last_snapshot.count_likes|intcomma }}</td>
                    </tr>
                    <tr>
                        <td class="font-bold text-gray-900 pr-4">Uploaded:</td>
                        <td class="text-gray-700">{{ video.date_publication }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="flex justify-start pt-4">
                <a href="{{ video.url }}" target="_blank" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Watch on YouTube
                </a>
                <a href="{% url 'video_rating' pk=video.id %}" class="ml-4 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
                    Rate this video
                </a>
            </div>
        </div>
    </div>
    <div class="mt-8">
        <h2 class="text-2xl font-bold mb-4">Reviews</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for rating in selected_ratings %}
                <div class="bg-white rounded-lg shadow-lg overflow-hidden flex flex-col justify-between">
                    <div class="p-4">
                        <p class="text-gray-700 text-sm mb-2">{{ rating.review_title }}</p>
                        <p class="text-gray-700 text-sm mb-2">{{ rating.review_body }}</p>
                        <p class="text-gray-700 text-sm mb-2">Rating: {{ rating.rating }}</p>
                        <p class="text-gray-700 text-sm mb-2">By: {{ rating.username }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
