{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block title %}{{ channel.last_snapshot.name_en }} - TubeRank{% endblock title %}

{% block content %}
<div class="mb-4 bg-gray-100 p-4 rounded-lg">
  <div class="flex flex-wrap items-center justify-between py-4">
    <h1 class="text-3xl font-bold">{{ channel.last_snapshot.name_en }}</h1>
    <a href="{{ channel.url }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      {% translate "Watch on YouTube" %}
    </a>
  </div>
  <p class="text-gray-600">{{ channel.last_snapshot.description | safe | linebreaks }}</p>
  <div class="flex items-center justify-between mt-4">
    <div class="flex items-center">
      <i class="fas fa-users mr-2"></i>
      <p class="text-gray-600">{% blocktranslate with count=channel.last_snapshot.count_subscribers|intcomma %}{{ count
        }} subscribers{% endblocktranslate %}</p>
    </div>
    <div class="flex items-center">
      <i class="far fa-eye mr-2"></i>
      <p class="text-gray-600">{% blocktranslate with count=channel.last_snapshot.count_views|intcomma %}{{ count }}
        views{% endblocktranslate %}</p>
    </div>
    <div class="flex items-center">
      <i class="far fa-calendar-alt mr-2"></i>
      <p class="text-gray-600">{% blocktranslate with date=channel.date_creation %}Created on {{ date }}{%
        endblocktranslate %}</p>
    </div>
  </div>

</div>
<div class="bg-gray-100 p-4 rounded-lg mt-8">
  <div class="flex items-center justify-between">
    <h2 class="text-xl font-bold">{% translate "TubeRank Stats" %}</h2>
    <div class="text-gray-600">
      <span class="ml-2">{% blocktranslate with rating=channel.average_rating count=channel.ratings.count %}Channel Rating: {{ rating }} from {{ count }} ratings{% endblocktranslate %}</span>
    </div>
  </div>
</div>

<form class="my-4" method="GET">
  <div class="flex flex-wrap items-center justify-left mb-2">
    <label class="block text-gray-700 font-bold mb-2 mr-2" for="sort-by">{% translate "Sort by:" %}</label>
    <select name="sort_by" id="sort-by"
            class="bg-white border border-gray-400 rounded-lg py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
      <option value="newest" {% if request.GET.sort_by==
      "newest" %}selected{% endif %}>{% translate "Newest" %}</option>
      <option value="oldest" {% if request.GET.sort_by==
      "oldest" %}selected{% endif %}>{% translate "Oldest" %}</option>
      <option value="rating" {% if request.GET.sort_by==
      "rating" %}selected{% endif %}>{% translate "Best rated" %}</option>
      <option value="ratings_count" {% if request.GET.sort_by==
      "ratings_count" %}selected{% endif %}>{% translate "Most rated" %}</option>
      <option value="views_count" {% if request.GET.sort_by==
      "views_count" %}selected{% endif %}>{% translate "Most viewed" %}</option>
      <option value="views_count_desc" {% if request.GET.sort_by==
      "views_count_desc" %}selected{% endif %}>{% translate "Least viewed" %}</option>
    </select>
    <button type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ml-2">
      {% translate "Filter" %}
    </button>
  </div>
</form>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 py-4">
  {% for video in videos %}
  {% include "videos/video_item.html" %}
  {% endfor %}
</div>

<div class="my-4">
  <nav class="flex items-center justify-between">
    {% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}" class="bg-gray-200 hover:bg-gray-300 py-2 px-4 rounded-l">
      {% translate "Previous" %}
    </a>
    {% endif %}
    <div class="text-gray-600">
      {% blocktranslate with page_number=page.number total_page_number=page.paginator.num_pages %}Page {{ page_number }}
      of {{ total_page_number }}{% endblocktranslate %}
    </div>
    {% if page.has_next %}
    <a href="?page={{ page.next_page_number }}" class="bg-gray-200 hover:bg-gray-300 py-2 px-4 rounded-r">
      {% translate "Next" %}
    </a>
    {% endif %}
  </nav>
</div>

{% endblock content %}
