{% extends "base.html" %}
{% load i18n %}

{% block title %}Channels{% endblock %}

{% block content %}
  <div class="mb-4 flex justify-between items-center">
    <h1 class="text-3xl font-bold">{% translate "Channels" %}</h1>
    <div class="relative inline-flex">
      <select id="sorting" name="sorting" class="form-select px-4 py-2 rounded-lg focus:outline-none focus:ring-blue-500 focus:border-blue-500">
        <option value="name_asc">{% translate "Name (A-Z)" %}</option>
        <option value="name_desc">{% translate "Name (Z-A)" %}</option>
        <option value="latest">{% translate "Latest" %}</option>
      </select>
    </div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    {% for channel in channels %}
      <div class="bg-white rounded shadow-sm p-4">
        <a href="{% url 'channel_details' pk=channel.id %}" class="block mb-2">
          <img src="{{ channel.last_snapshot.thumbnail_url }}" alt="{{ channel.last_snapshot.name_en }}" class="w-full">
        </a>
        <a href="{% url 'channel_details' pk=channel.id %}" class="block text-lg font-bold text-gray-900">{{ channel.last_snapshot.name_en }}</a>
      </div>
    {% endfor %}
  </div>

  <div class="my-4">
    <nav class="flex items-center justify-between">
      {% if channels.has_previous %}
        <a href="?page={{ channels.previous_page_number }}" class="bg-gray-200 hover:bg-gray-300 py-2 px-4 rounded-l">
          {% translate "Previous" %}
        </a>
      {% endif %}
      <div class="text-gray-600">
        {% blocktranslate with page_number=channels.number total_page_number=channels.paginator.num_pages %}Page {{ page_number }} of {{ total_page_number }}{% endblocktranslate %}
      </div>
      {% if channels.has_next %}
        <a href="?page={{ channels.next_page_number }}" class="bg-gray-200 hover:bg-gray-300 py-2 px-4 rounded-r">
          {% translate "Next" %}
        </a>
      {% endif %}
    </nav>
  </div>
{% endblock %}
