{% extends "base.html" %}
{% load i18n %}
{% load ratings_extras %}

{% block content %}
<div class="container mx-auto py-6">
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/4 lg:w-1/3 xl:w-1/4 px-4 mb-4">
      <div class="bg-white rounded-lg shadow-lg py-6">
        <div class="text-center">
          <img src="{{ user.profile_picture.url }}" alt="{{ user.username }}" class="rounded-full h-32 w-32 mx-auto mb-4">
          <h2 class="text-2xl font-bold">{{ user.username }}</h2>
          <p class="text-gray-600">{{ user.email }}</p>
        </div>
        <hr class="my-4">
        <div class="text-center">
          <p class="text-xl font-bold">{{ user.video_ratings.count }}</p>
          <p class="text-gray-600">{% translate "Video Ratings" %}</p>
        </div>
        <div class="text-center mt-4">
          <p class="text-xl font-bold">{{ user.channel_ratings.count }}</p>
          <p class="text-gray-600">{% translate "Channel Ratings" %}</p>
        </div>
      </div>
    </div>
    <div class="w-full md:w-3/4 lg:w-2/3 xl:w-3/4 px-4 mb-4">
      <div class="bg-white rounded-lg shadow-lg py-6 mt-4 px-4">
        <h2 class="text-2xl font-bold mb-4">{% translate "Video Ratings" %}</h2>
        {% if user.video_ratings.exists %}
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 px-4 py-8">
      <canvas id="ratings-chart"></canvas>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for rating in user.video_ratings.all %}
              <div class="bg-gray-100 rounded-lg shadow-lg p-4">
                <div class="flex-grow">
                </div>
                <div class="text-lg font-bold">
                  <p class="text-gray-600">{{ rating.review_title }}</p>
                  <p class="text-gray-600">{{ rating.review_body }}</p>
                  <p class="text-black">{% translate "Rating:" %} {{ rating.rating|custom_rating }}</p>
                </div>
                <img class="h-24 w-full object-cover py-4" src="{{ rating.video.last_snapshot.thumbnail_url }}" alt="{{ rating.video.last_snapshot.name_en }}">
                <a href="{% url 'video_details' pk=rating.video.id %}">
                  <h3 class=" mb-2">{{ rating.video.last_snapshot.title_en }}</h3>
                </a>
                <p class="text-gray-600">{{ rating.video.channel.last_snapshot.name_en }} &bull; {{ rating.video.last_snapshot.duration|duration }}</p>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <p class="text-gray-600">{% translate "No video ratings found." %}</p>
        {% endif %}
      </div>
      <div class="bg-white rounded-lg shadow-lg py-6 mt-4 px-4">
        <h2 class="text-2xl font-bold mb-4">{% translate "Channel Ratings" %}</h2>
        {% if user.channel_ratings.exists %}
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for rating in user.channel_ratings.all %}
              <div class="border border-gray-200 rounded-lg overflow-hidden transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-xl">
                <div class="relative">
                  <img class="h-64 w-full object-cover" src="{{ rating.channel.thumbnail_url }}" alt="{{ rating.channel.last_snapshot.name_en }}">
                  <div class="absolute top-0 right-0 bg-blue-600 text-white px-2 py-1 rounded-bl-lg">{{ rating.channel.category }}
                  </div>
                </div>
                <div class="p-4">
                  <h3 class="text-xl font-bold mb-2">{{ rating.channel.last_snapshot.name_en }}</h3>
                  <p class="text-gray-600 mb-2">{{ rating.channel.last_snapshot.description_en }}</p>
                  <p class="text-gray-600">{{ rating.rating|custom_rating }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <p class="text-gray-600">{% translate "No channel ratings found." %}</p>
        {% endif %}
      </div>
      {% if user.viewings.exists %}
          {% include "profile/profile_timeframe.html" %}
      {% endif %}

    </div>
  </div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
  <script>
    var ratingsChart = new Chart(document.getElementById('ratings-chart'), {
        type: 'bar',
        data: {
            labels: {{ ratings_labels|safe }},
            datasets: [{
                label: 'Number of Ratings',
                data: {{ ratings_data|safe }},
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
  </script>
{% endblock content %}
