{% extends "base.html" %}
{% load i18n %}
{% load ratings_extras %}
{% load humanize %}

{% block title %}{% translate "Profile of" %} {{ user.username }} - TubeRank{% endblock title %}

{% block content %}
<div class="container mx-auto py-6">
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/4 lg:w-1/3 xl:w-1/4 px-4 mb-4">
      <div class="bg-white rounded-lg shadow-lg px-4 py-4">
        <div class="text-center">
          <h2 class="text-2xl font-bold">{{ user.username }}</h2>
        </div>
        <hr class="my-4">
        <div class="text-center">
          <p class="text-xl font-bold">{{ user.viewings.count }}</p>
          <p class="text-gray-600">{% translate "Watched Videos" %}</p>
        </div>
        <div class="text-center mt-4">
          <p class="text-xl font-bold">{{ user.video_ratings.count }}</p>
          <p class="text-gray-600">{% translate "Video Ratings" %}</p>
        </div>
        <div class="text-center mt-4">
          <p class="text-xl font-bold">{{ user.channel_ratings.count }}</p>
          <p class="text-gray-600">{% translate "Channel Ratings" %}</p>
        </div>
        <div class="text-center mt-4">
          <p class="text-xl font-bold">{{ user.date_joined|naturaltime }}</p>
          <p class="text-gray-600">{% translate "Date Joined" %}</p>
        </div>
      </div>
    </div>
    <div class="w-full md:w-3/4 lg:w-2/3 xl:w-3/4 px-4 mb-4">
      {% if user.viewings.exists %}
      {% include "profile/profile_timeframe.html" %}
      {% endif %}
      {% if most_watched_channels %}
      <div class="bg-white rounded-lg shadow-lg py-4 mt-4 px-4">
        <h2 class="text-2xl font-bold mb-4">{% translate "Most Watched Channels" %}</h2>
        <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-4">
          {% for channel in most_watched_channels %}
          {% include "channels/channel_profile_item.html" %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <div class="bg-white rounded-lg shadow-lg py-4 mt-4 px-4">
        <h2 class="text-2xl font-bold mb-4">{% translate "Video Ratings" %}</h2>
        {% if user.video_ratings.exists %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 px-4 py-8">
          <canvas id="ratings-chart"></canvas>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          {% for rating in user.video_ratings.all %}
            {% include "profile/profile_video_rating.html" %}
          {% endfor %}
        </div>
        {% else %}
        <p class="text-gray-600">{% translate "No video ratings found." %}</p>
        {% endif %}
      </div>
      <div class="bg-white rounded-lg shadow-lg py-4 mt-4 px-4">
        <h2 class="text-2xl font-bold mb-4">{% translate "Channel Ratings" %}</h2>
        {% if user.channel_ratings.exists %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          {% for rating in user.channel_ratings.all %}
          <div class="border border-gray-200 rounded-lg overflow-hidden transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-xl">
            <div class="relative">
              <img class="h-64 w-full object-cover" src="{{ rating.channel.thumbnail_url }}" alt="{{ rating.channel.last_snapshot.name_en }}">
            </div>
            <div class="p-4">
              <h3 class="text-xl font-bold mb-2">{{ rating.channel.last_snapshot.name_en }}</h3>
              <p class="text-gray-600 mb-2">{{ rating.channel.last_snapshot.description_en }}</p>
              <p class="text-gray-600">{{ rating.rating|custom_rating }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <p class="text-gray-600">{% translate "No channel ratings found." %}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script>
    var ratingsChart = new Chart(document.getElementById('ratings-chart'), {
        type: 'bar',
        data: {
            labels: {{ ratings_labels|safe }},
            datasets: [{
                label: '{% translate "Number of Ratings" %}',
                data: {{ ratings_data|safe }},
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

</script>
{% endblock content %}
