{% load i18n %}
<div id="popup-edit-modal{{ index }}"
     tabindex="-1"
     class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow">
            <button type="button"
                    class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                    data-modal-hide="popup-edit-modal{{ index }}">
                <svg aria-hidden="true"
                     class="w-5 h-5"
                     fill="currentColor"
                     viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd">
                    </path>
                </svg>
                <span class="sr-only">{% translate "Close modal" %}</span>
            </button>
            <div class="bg-gray-100 text-gray-900 font-bold text-lg p-4 border-b">{% translate "Update Description" %}</div>
            <form id="edit-form{{ index }}" method="POST" class="p-4 m-4">
                {% csrf_token %}
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2">{% translate "Description" %}</label>
                    <div class="flex justify-end">
                        <textarea form="edit-form{{ index }}"
                                  name="description{{ index }}"
                                  rows="3"
                                  id="item-description{{ index }}"
                                  class="block text-gray-700 border rounded-md shadow-sm focus:border-indigo-500 flex-grow"
                                  placeholder="{% blocktranslate %}Enter description{% endblocktranslate %}"
                                  maxlength="5000">{{ item.description }}</textarea>
                    </div>
                </div>
                <div class="px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button type="submit"
                            class="bg-blue-500 hover:bg-blue-600 rounded-lg text-white px-4 py-2"
                            form="edit-form{{ index }}">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
