{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container mx-auto px-4">
  {% if user.is_authenticated %}
  <div class="flex justify-between items-center mb-8">
    <h1 class="text-3xl font-bold">{% translate "My Lists" %}</h1>
    <button id="create-list-button" type="button" class="bg-blue-500 hover:bg-blue-600 rounded-lg text-white px-4 py-2">{% translate "Create List" %}</button>
  </div>
  {% endif %}

  <!-- Modal for updating the list description -->
  <div id="create-list-modal" class="fixed inset-0 z-50 hidden overflow-y-auto" style="background-color: rgba(0,0,0,0.5);">
    <div class="flex items-center justify-center min-h-screen px-4">
      <div class="bg-white rounded-lg overflow-hidden shadow-xl sm:max-w-lg sm:w-full">
        <div class="bg-gray-100 text-gray-900 font-bold text-lg p-4 border-b">
          {% translate "Create List" %}
          <button id="close-modal-button" type="button" class="float-right">&times;</button>
        </div>
        <form id="create-list-form" action="{% url 'lists' %}" method="POST" class="p-4">
          {% csrf_token %}
          <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="name">
              {% translate "Name" %}
            </label>
            <input name="name" type="text" class="border rounded-lg py-2 px-3 text-gray-700 leading-tight w-full" placeholder="{% blocktranslate %}Enter name{% endblocktranslate %}" maxlength="200" required>
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="description">
              {% translate "Description" %}
            </label>
            <textarea name="description" class="border rounded-lg py-2 px-3 text-gray-700 leading-tight w-full" rows="3" placeholder="{% blocktranslate %}Enter description{% endblocktranslate %}" maxlength="5000"></textarea>
          </div>
          <button type="submit" class="bg-blue-500 hover:bg-blue-600 rounded-lg text-white px-4 py-2">{% translate "Create List" %}</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Display user's lists -->
  <div class="px-2">
    {% if user.is_authenticated %}
    {% if user_lists %}
        {% for list in user_lists %}
          <div class="w-full px-4 mb-4 flex justify-between items-center bg-gray-100 rounded-lg p-4">
            <a href="{% url 'list_details' pk=list.id %}">
              <h2 class="text-lg font-bold">{{ list.name }}</h2>
              <p class="text-gray-600">{% blocktranslate with count=list.videos.count %}{{ count }} Videos{% endblocktranslate %}</p>
            </a>
            <div class="items-right">
              {# <a href="{% url 'list_delete' pk=list.id %}" class="ml-4 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"> #}
                {# {% translate "Edit" %} #}
              {# </a> #}
              <a href="{% url 'list_delete' pk=list.id %}" class="ml-4 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
                {% translate "Delete" %}
              </a>
            </div>
          </div>
        {% endfor %}
    {% else %}
      <p>{% translate "No lists found." %}</p>
    {% endif %}
    {% endif %}
  </div>
  <h1 class="text-3xl font-bold my-4">{% translate "Popular Lists" %}</h1>
  <div class="px-2">
    {% if popular_lists %}
      {% for list in popular_lists %}
      <div class="w-full px-4 mb-4 justify-between items-center bg-gray-100 rounded-lg p-4">
        <a href="{% url 'list_details' pk=list.id %}">
          <h2 class="text-lg font-bold">{{ list.name }}</h2>
          <p class="text-gray-600">{% blocktranslate with count=list.videos.count %}{{ count }} Videos{% endblocktranslate %}</p>
          <p class="text-gray-600">{% blocktranslate with user=list.user.username %}by {{ user }}{% endblocktranslate %}</p>
        </a>
      </div>
      {% endfor %}
    {% else %}
      <p class="text-gray-600">{% translate "No popular lists yet." %}</p>
    {% endif %}
  </div>
</div>

  <script>
  const createListModal = document.getElementById('create-list-modal');
  const openCreateListModalButton = document.getElementById('create-list-button');
  const closeCreateListModalButton = document.getElementById('close-modal-button');

  function openCreateListModal() {
    createListModal.classList.add('block');
    createListModal.classList.remove('hidden');
  }

  function closeCreateListModal() {
    createListModal.classList.add('hidden');
    createListModal.classList.remove('block');
  }

  openCreateListModalButton.addEventListener('click', () => {
    openCreateListModal();
  });

  closeCreateListModalButton.addEventListener('click', () => {
    closeCreateListModal();
  });
  </script>

{% endblock content %}
