{% load i18n %}
{% load ratings_extras %}
<div class="flex border bg-white border-gray-200 rounded-md shadow-md py-4 pr-4">
    {% if request.user == list.user and sortable is True %}
        <div class="handle px-2">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
            </svg>
            <input type='hidden'
                   name='item'
                   value='{{ item.id }}: {{ item.rank }}'
                   form="reorderForm" />
        </div>
    {% else %}
        <div class="px-2"></div>
    {% endif %}
    <div class="w-full">
        <div class="flex items-center gap-4">
            <img src="{{ video.last_snapshot.thumbnail_url }}"
                 alt="{{ video.last_snapshot.title_en }}"
                 class="w-24 h-16 object-cover rounded">
            <div>
                <a href="{% url 'video_details' pk=video.id %}">
                    <h3 class="font-bold text-gray-900 text-lg">{{ video.last_snapshot.title_en }}</h3>
                    <p class="text-gray-700">{{ video.channel.last_snapshot.name_en }}</p>
                </a>
            </div>
            <div class="ml-auto">
                {% if not video.ratings.count == 0 %}
                    <div class="text-sm bg-gray-100 rounded-lg p-2">
                        <div class="flex items-center">
                            <svg aria-hidden="true"
                                 class="w-5 h-5 text-yellow-400"
                                 fill="currentColor"
                                 viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <title>Rating star</title>
                                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                </path>
                            </svg>
                            <p class="ml-2 font-bold text-gray-900">{{ video.average_rating|custom_rating }}</p>
                            <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full"></span>
                            <p class="font-medium text-gray-900">
                                {% blocktranslate with count=video.ratings.count %}{{ count }} ratings{% endblocktranslate %}
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="flex items-center gap-4 mt-4">
            <span class="text-gray-700 font-bold">#{{ item.rank }}</span>
            <div class="gap-2 mr-auto">
                <p>{{ item.description|linebreaks }}</p>
            </div>
            <div>
                {% if request.user == list.user and sortable is not True %}
                    <button data-modal-target="popup-edit-modal{{ item.rank }}"
                            data-modal-toggle="popup-edit-modal{{ item.rank }}"
                            class="bg-gray-200 hover:bg-gray-300 px-2 py-1 rounded-md font-medium"
                            type="button">{% translate "Edit" %}</button>
                    <button data-modal-target="popup-delete-modal{{ item.rank }}"
                            data-modal-toggle="popup-delete-modal{{ item.rank }}"
                            class="ml-2 mr-1 bg-gray-500 hover:bg-gray-600 text-white font-medium font-bold py-1 px-2 rounded-md"
                            type="button">{% translate "Delete" %}</button>
                    {% url 'list_delete_item' list_pk=list.id video_pk=item.video.id as delete_item_list_url %}
                    {% include "lists/list_delete_modal.html" with index=item.rank list=item url=delete_item_list_url %}
                    {% include "lists/description_update_modal.html" with index=item.rank item=item %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
